h1, h2, h3, p {
    font-family: Helvetica, sans-serif;
}

h1 {
    background-image: url("../images/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center
}

.blue {
    font-weight: bold;
    color: blue;
}

#brush {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#frame {
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#paint {
    background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    color: white;
}